<div class="container">
  <div class="row columns">
    <div class="column">
      <br><br>
      <p class="title is-4 no-padding">Editing <%= @user.username %></p>
      <br>
    </div>
  </div>
</div>

<%= render 'form', user: @user %>

<div class="container">
  <div class="row columns">
    <div class="column">
      <br>
      <%= link_to 'Back', users_path, class: "button is-info is-rounded" %>
    </div>
  </div>
</div>
