<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Users</h1>
      <div class="container">

        <% if notice != nil %>
          <article class="message is-primary">
            <div class="message-body">
              <p id="notice"><%= notice %></p>
            </div>
          </article>
        <% end %>

        <div class="row columns">
          <div class="column">

          <% if can? :read, User %>
            <table class="table">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Services</th>
                </tr>
                <tr>
                  <% @users.each do |u| %>
                    <td>u.username</td>
                    <td>u.role</td>
                    <td><% @users.services.each do |s| %>
                      <% @s = Service.find(params[s])%>
                      <td><% @s.name %></td>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
