<div class="container">
  <div class="row columns">
    <div class="column">
      <br/>
      <p class="title is-4 no-padding">New Category</p>
    </div>
  </div>
</div>

<%= render 'form', category: @category %>

<div class="container">
  <div class="row columns">
    <div class="column">
      <%= link_to 'Back', categories_path, class: "button is-info is-rounded" %>
    </div>
  </div>
</div>
