/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require overrides
 */

@import "bulma";

.tab {
	background-color: #eee;
}

.tabs.is-toggle li.is-active a {
	background-color: #c6417c;
	border-color: #c6417c;
}


/* Below code - courtesy of John Uberbacher */
/* https://github.com/johnuberbacher/CSS-Tabs/blob/local/index.html */

.tabi-wrap {
	-webkit-transition: 0.3s box-shadow ease;
	transition: 0.3s box-shadow ease;
	border-radius: 6px;
	max-width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
		  flex-wrap: wrap;
	position: relative;
	list-style: none;
	background-color: #fff;
	margin: 40px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/*.tabi-wrap:hover {
	box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}*/

.tabi {
	display: none;
}
.tabi:checked:nth-of-type(1) ~ .tabi__content:nth-of-type(1) {
	opacity: 1;
	/*-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	/*transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tabi:checked:nth-of-type(2) ~ .tabi__content:nth-of-type(2) {
	opacity: 1;
	/*-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	/*transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tabi:checked:nth-of-type(3) ~ .tabi__content:nth-of-type(3) {
	opacity: 1;
	/*-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	/*transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tabi:checked:nth-of-type(4) ~ .tabi__content:nth-of-type(4) {
	opacity: 1;
	/*-webkit-transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	/*transition: 0.5s opacity ease-in, 0.2s transform ease;*/
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
		  transform: translateY(0px);
	text-shadow: 0 0 0;
}
.tabi:first-of-type:not(:last-of-type) + label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.tabi:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tabi:last-of-type:not(:first-of-type) + label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.tabi:checked + label {
	background-color: #fff;
	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
}
.tabi:checked + label:hover {
	box-shadow: 0 -1px 0 #fff inset;
	background-color: #fff;
}
.tabi + label {
	width:100%;	  
	box-shadow: 0 -1px 0 #eee inset;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #333;
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	  -ms-flex-positive: 3;
		  flex-grow: 3;
	text-align: center;
	background-color: #f2f2f2;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	text-align: center;
	-webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 50px;
	box-sizing: border-box;
	padding: 15px;
}
@media (min-width:768px) {
		
	.tabi + label {
		width:auto;
	}
}
.tabi + label:hover {
	background-color: #f9f9f9;
	box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tabi__content {
	padding: 10px 25px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0;
	left: 0;
	-webkit-transform: translateY(-3px);
		  transform: translateY(-3px);
	border-radius: 6px;
	
}