td, th {
  padding: 15px;
  color: #591F6A;
}

.navbar{
  background-color: #591F6A;
  height: 30px;
}

<<<<<<< HEAD
.padding-left{
  padding-left: 30px;
=======
.field {
  margin: 8px 0;
}

a {
	color: #591b6b;
>>>>>>> 3674ecd893e36a3d9f50c27f292d2f81dd8df7ec
}