td, th {
  padding: 15px;
  color: #591F6A;
}

.padding-left{
  padding-left: 30px;
}

#nav ul a {
  color: #ffd600;
  font-size: 1.2rem;
}

.field {
  margin: 8px 0;
}

a {
  color: #591b6b;
}

.is-black{
  background-color: #000000;
}

.is-purple{
  background-color: #591b6b;
}

.is-white {
  background-color: #FFFFFF
}

.navbar-brand {
  position: relative;
  background: url(../images/official_logo_purple.png) center center;
  width: 200px;
  background-size: contain;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}