
<nav class="navbar is-purple">
    <div class="container">
        <div class="navbar-brand">

            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>  

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">

                <span class="navbar-item">
                    <%= link_to "Services", services_path, style: 'color:#FFFFFF; font-size: 20px;', class: 'css_class' %>
                </span>

                <span class="navbar-item">
                    <%= link_to "Locations", locations_path, style: 'color:#FFFFFF; font-size: 20px;', class: 'css_class' %>
                </span>

                <span class="navbar-item">
                    <%= link_to "Contacts", contacts_path, style: 'color:#FFFFFF; font-size: 20px;', class: 'css_class' %>
                </span>
            </div>

            <div class="navbar-end">
                <span class="navbar-item">
                    <%= render :partial => "partials/search" %>
                </span>
            </div>

    </div>
</nav>


