<section class="hero">
  <h1 class="title is-center">New Service</h1>
  <div class = "hero-body">
    <div class="container">
      <div class="field">
        <label class="label">Service Name</label>
        <div class="control">
          <input class="input" >
        </div>
      </div>

      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Select dropdown</option>
              <option> Autism </option>
              <option> Justice and Child Welfare
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Philosophy</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>

      </div>

      <div class="field">
        <label class="label">Contact</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" placeholder="i.e. John Smith">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Entrance Criteria</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Exclusion Criteria</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>

      </div>
      <div class="field">
        <label class="label">Exit Criteria/label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Level of Care</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Average length of stay</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Referral Process</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>


      <div class="field">
        <label class="label">Matching Elements</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>


      <div class="field">
        <label class="label">Created By</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">
          <%= link_to 'Cancel', services_path %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>