<div class="container">
  <div class="row columns">
    <div class="column">
      <br><br>
      <p class="title is-4 no-padding">Editing <%= @service.name %></p>
      <br>
    </div>
  </div>
</div>

<%= render 'form', service: @service %>

<div class="container">
  <div class="row columns">
    <div class="column">
      <br>
      <%= link_to 'Back', services_path, class: "button is-info is-rounded" %>
    </div>
  </div>
</div>
