<div class="container">
  <div class="row columns">
    <div class="column">
      <br/>
      <p class="title is-4 no-padding">New Service</p>
    </div>
  </div>
</div>

<%= render 'form', service: @service %>
           
<div class="container">
  <div class="row columns">
    <div class="column">
      <%= link_to 'Back', services_path, class: "button is-info is-rounded" %>
    </div>
  </div>
</div>